<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>82406700480-hm733dchmdhnu0tp2mjl3rbn054fgcsv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.82406700480-hm733dchmdhnu0tp2mjl3rbn054fgcsv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>82406700480-oboji6b05mdqoocquaqcnkgpsvaohmme.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDt7Wke0UqMtp-0dlA0H_5aEBxmfcYDztg</string>
	<key>GCM_SENDER_ID</key>
	<string>82406700480</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tiktokclone.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>tiktok-clone-567b9</string>
	<key>STORAGE_BUCKET</key>
	<string>tiktok-clone-567b9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:82406700480:ios:aad80e5da6d0cc9c260425</string>
</dict>
</plist>